html {
    background-color: rgb(67, 0, 130);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 238, 144, 0.6);
    border-radius: 10px;
}

.contenido {
    width: 90%;
    height: 50%;
    padding: 1%;
    display: flex;
}

.boton {
    width: 30%;
    border-radius: 10px;
    font-size: larger;
    background-color: rgba(153, 205, 50, 0.6);
}

.boton:hover {
    background-color: yellow;
}

.resultado {
    width: 70%;
    margin: 0% 0% 0% 1%;
    display: flex;
    background-color: rgba(161, 206, 161, 0.6);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

